.container{
    width: 350px;
    .music-image{
        width: 100%;
    }
    #controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            font-size: 20px;
            color: purple;
            margin-right: 20px;
        }
    }
    
    #progress{
        margin-bottom: 20px;

        #times{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        #progress-bar{
            width: 100%;
        }
    }
}